html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    
    transition: 1s ease;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.popbar {
    width: 30%;
    height: 100%;
    transition: 1s ease;
    position: relative;
}

.sidebar {
    width: 40%;
    height: 100%; 
    top: 0;
    left: 0;
    background-color: rgb(58, 58, 65);

    transition: 1s ease;

    padding-left: 60px;

    overflow-y: auto;
}

.collapsed .sidebar {
    width: 0;
    overflow: hidden;
}

.close {
    background-color: rgb(31, 33, 33);
    color: #f2f2f2;
    float: left;
    padding: 5px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.iconBar {
    width: 60px;
    background-color: rgb(31, 33, 33);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    height: 100%;
}

.icons {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.icons a {
    display: block;
    color: rgb(199, 190, 15);
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: x-large;
    width: 100%;

    transition: 0.3s;
}

.iconBar a:hover {
    color: rgba(255, 255, 255, 0.331);
    text-shadow: 0 0px 0px rgb(255, 255, 255);
    transition: 0.3s;
    cursor: pointer;
}

/* do this later */
.active {
    color: white;
}

.pageType {
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    font-size: x-large;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
}

.search > form {
    width: 100%;
}

.search input[type=text]{
    width: 100%;
    height: 30px;
    border-radius: 8px;
    padding: 10px;
    border: none;
    background-color: #646575;
}

.search input[type=text]::placeholder {
    color: white;
}

.search input[type=text]:focus {
    outline: none;
    border: rgb(171, 171, 179) 1px solid;
    padding: 9px;
}

.search img{
    background-color: rgb(76, 121, 169);
    margin-left: 5px;
    float: right;
    border: none;
    cursor: pointer;
    width: 30px;
    padding: 3px;
    border-radius: 10px;
} 

.search img:hover {
    background-color: rgb(64, 105, 155);
}

.pageType-header {
    margin-top: 15px;
    margin-bottom: -5px;
    font-size: 28px;
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

.pageType, .person h3, .person p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Fredoka', sans-serif;
}
.person h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.person p {
    font-size: 18px;
}

.listPeople {
    margin: 22px;
}

.person {
    list-style-type: none;
    background-color: rgb(77, 78, 88);
    border: #606571 1px solid;
    border-radius: 10px;
    padding: 5px;
    height: 110px;
    margin-bottom: 10px;
    display: inline-flex;
    width: 100%;
}

p {
    font-size: 15px;
}

.dot {
    height: 70%;
    width: 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    float: left;
    margin: 15px 20px 20px 20px;
}

.addButton {   
    height: 100%;
    width: 10%;
    margin-left: 10px;
    background-color: rgb(109, 117, 138);
    border-radius: 10%;
    float: right;
    margin-left: auto;
    border-color: transparent;

    text-align: center;
    font-weight: 1000;
    font-size: 30px;
    color: white;

    transition: 0.5s;
}

.addButton:hover{
    transition: 0.5s;
    background-color: #5081af;
    cursor: pointer;
}

.personDetails {
    margin-left: 2%;
    margin-top: 15px;
    color: #ffffff;
    font-size: 20px;
}

.friendRequestContainer {
    height: 100%;
    float: right;
    width: 70%;
    
}

.personRequestButtons {
    display: inline-flex;
}

.acceptRequest {
    color: white;
    border: transparent;
    border-radius: 5px;
    font-size: 13px;
    background-color: #4B91D2;
    margin-top: 5px;
    padding: 7% 20% 7% 20%;
    text-align: center;
    transition: 0.5s;
}

.acceptRequest:hover {
    transition: 0.5s;
    background-color: #5081af;
    cursor: pointer;
}

.declineRequest {
    color: white;
    border: transparent;
    border-radius: 5px;
    font-size: 13px;
    background-color: #828f9c;
    margin-top: 5px;
    margin-left: 10px;
    padding: 7% 20% 7% 20%;
    text-align: center;
    
    transition: 0.5s;
}

.declineRequest:hover {
    transition: 0.5s;
    background-color: rgb(209, 91, 91);
    cursor: pointer;
}

.map {
    background-color: rgb(222, 222, 222);
    width: 100%;
    flex-grow: 1;
    position: relative;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px skyblue;
}

::-webkit-scrollbar-thumb {
    background: white;
}

.removeColor {
    background-color: red;
}

.removeColor:hover {
    background-color: rgb(145, 6, 6);
}
