html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    
    transition: 1s ease;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.popbar {
    width: 30%;
    height: 100%;
    transition: 1s ease;
    position: relative;
}

.sidebar {
    width: 40%;
    height: 100%; 
    top: 0;
    left: 0;
    background-color: rgb(206, 240, 253);

    transition: 1s ease;

    padding-left: 60px;
}

.collapsed .sidebar {
    width: 0;
    overflow: hidden;
}

.close {
    background-color: skyblue;
    color: #f2f2f2;
    float: left;
    padding: 5px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.iconBar {
    width: 60px;
    background-color: skyblue;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    height: 100%;
}

.icons {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.icons a {
    display: block;
    color: rgb(199, 190, 15);
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: x-large;
    width: 100%;

    transition: 0.3s;
}

.iconBar a:hover {
    color: rgba(255, 255, 255, 0.331);
    text-shadow: 0 0px 0px rgb(255, 255, 255);
    transition: 0.3s;
    cursor: pointer;
}

/* do this later */
.active {
    color: white;
}

.pageType {
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    font-size: x-large;
}

.search input[type=text]{
    width: 250px;
    height: 25px;
    border-radius: 25px;
    padding: 10px;
    border: none;
}
     
.search{
    margin-left: 20px;
    margin-top: 10px;
    margin-right: 20px;
}
     
.search button{
    background-color: skyblue;
    color: #f2f2f2;
    float: right;
    padding: 5px;
    margin-left: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.listPeople {
    margin: 20px;
}

.person {
    list-style-type: none;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    height: 110px;
}

.dot {
    height: 70px;
    width: 70px;
    background-color: #bbb;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.map {
    background-color: rgb(222, 222, 222);
    width: 100%;
    flex-grow: 1;
}