.modal-background {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    background-color: white;
    border-radius: 12px;
}

.modal-container {
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0 0.25rem 0.5rem;
    display: flex;
    flex-direction: column;
    padding: 1.75rem 1.5rem;

    --r: 50px; /* control the size */
    --c1: #c1e8ed /*color 1*/ 99%,#0000 101%;
    --c2: #f9f7e0 /*color 2*/ 99%,#0000 101%;
    
    --s:calc(var(--r)*.866);  /* .866 = cos(30deg) */
    --g0:radial-gradient(var(--r),var(--c1));
    --g1:radial-gradient(var(--r),var(--c2));
    --f:radial-gradient(var(--r) at calc(100% + var(--s)) 50%,var(--c1));
    --p:radial-gradient(var(--r) at 100% 50%,var(--c2));
    background:
      var(--f) 0 calc(-5*var(--r)/2),
      var(--f) calc(-2*var(--s)) calc(var(--r)/2),
      var(--p) 0 calc(-2*var(--r)),
      var(--g0) var(--s) calc(-5*var(--r)/2),
      var(--g1) var(--s) calc( 5*var(--r)/2),
      radial-gradient(var(--r) at 100% 100%,var(--c1)) 0 calc(-1*var(--r)),   
      radial-gradient(var(--r) at 0%   50% ,var(--c1)) 0 calc(-4*var(--r)),
      var(--g1) calc(-1*var(--s)) calc(-7*var(--r)/2),
      var(--g0) calc(-1*var(--s)) calc(-5*var(--r)/2),
      var(--p) calc(-2*var(--s)) var(--r),
      var(--g0) calc(-1*var(--s)) calc(var(--r)/ 2),
      var(--g1) calc(-1*var(--s)) calc(var(--r)/-2),
      var(--g0) 0 calc(-1*var(--r)),
      var(--g1) var(--s) calc(var(--r)/-2),
      var(--g0) var(--s) calc(var(--r)/ 2)
      #f9f7e0; /* color 2 again here */
    background-size: calc(4*var(--s)) calc(6*var(--r));
}

.modal-container .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.modal-exit-button {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.modal-exit-button button {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-container .modal-body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}

.modal-container .modal-footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container .modal-footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

#cancel-button {
    background-color: crimson;
}

#cancel-button:hover {
    background-color: rgb(252, 85, 119);
}

.modal-body {
    display: flex;
    flex-direction: column;
    padding-block: 1rem;
    gap: 1.8rem;
    font-size: 1.4rem !important;
}

.modal-title {
    text-align: center;
    font-size: 1.5rem;
}

.modal-body input[type=text], input[type=password], #status-selection {
    flex: 1;
    height: 2rem;
    border-radius: 25px;
    padding: 0.5rem;
    border: none;
    vertical-align: middle;
    font-size: 1.2rem;
}

#status-selection {
    font-size: 1.2rem;
    padding-block: 0.2rem;
}