:root {
    --circle-size: 165px;
    --radius: 100px;
    --shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.account-container {
    margin-top: 10%;
}

img {
    display: block;
    margin: auto;
    background-color: black;
}

.change-field {
    /* background-color: violet; */
    margin-block: 2rem;
}

#profile-pic {
    display: block;
    margin: auto;
}

input {
    text-align: left !important;
    padding-block: 0.5rem;
}

.change-field.profile-pic {
    color: transparent;
    transition: all .3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-pic {
    display: none;
}

#pic-output {
    position: absolute;
    object-fit: cover;
    width: var(--circle-size);
    height: var(--circle-size);
    box-shadow: var(--shadow);
    border-radius: var(--radius);
    z-index: 0;
}

.label {
    cursor: pointer;
    width: var(--circle-size);
    height: var(--circle-size);
}

.label .label:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.8);
    z-index: 10000;
    color: white;
    transition: background-color .2s ease-in-out;
    border-radius: var(--radius);
    margin-bottom: 0;
}