:root {
    --colour-box: #5A38FD;
    --colour-box-light: #c7bcff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-status-wrapper {
    position: relative;
    height: 100%;
}

.container-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--colour-box);
    border-radius: 7.5%;
    color: white;
}

.status-option {
    padding: 2rem;
    width: 100%;
    font-size: 1.25rem;
}

.status-option:hover {
    background: var(--colour-box-light);
    color: black;
    transition: all 0.5s;
}